<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Chronos</title>
    <link rel="stylesheet" href="chronos.css">
    <style>
      [ng-cloak] { visibility: hidden; }
    </style>
  </head>
  <body ng-cloak>
    <h1>Chronos</h1>
    
    <div class="timesheets" timesheet>
      <h2>Timesheets</h2>
      <div class="day">
        <h3>{{ ctrl.timesheet.starts_at | date:'mediumDate' }}</h3>
        <ul>
          <li ng-repeat="entry in ctrl.timesheet.entries">
            <span class="time">{{ entry.duration | duration }}</span> <span class="description">{{ entry.description }}s</span> for <span class="client">@{{ entry.client }}</span> <button class="delete" ng-click="ctrl.timesheet.entries.remove(entry)">delete</button>
          </li>
        </ul>
        <ul>
          <input type="number" ng-model="ctrl.hours" step="0.1" >
          <input type="text" ng-model="ctrl.description" placeholder="description">
          <input type="text" ng-model="ctrl.client" placeholder="client">
          <button ng-click="ctrl.addEntry()">Add</button>
        </ul>
      </div>
    </div>

    <script type="application/dart" src="chronos.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
